.layout-body {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .layout-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }
    

    .main-content {
        flex: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .layout-body {
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: flex-start;
        justify-content: center;
        padding-left: 24px;

    }

    .main-content {
        flex: 1;
        overflow-y: auto;
    }
}