:root {
  --font-family-base: 'Inter', sans-serif;
  --main-white: #fcfcfc;
  --main-black: #081222;
  --error-red: #b20202;
  --succes-green: #0b6016;
  --button-delete-bg-color: #b20202;
  --button-toggle-expense-bg-color: #b20202;
  --button-toggle-income-bg-color: #dfad3f;
  --main-background-color: linear-gradient(to bottom, #294045, #1e2f33);
  --modal-background: #508f8c;
  --hover-color: linear-gradient(to bottom, #355359, #3b5d63);
  --hover-text-color: #fcfcfc;
  --mob-container: 320px;
  --tablet-container: 768px;
  --desktop-container: 1280px;
}
