.balanceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  margin-top: 24px;
  background: var(--hover-color);
  border-radius: 16px;
  padding: 24px 16px;
  width: 288px;
  height: 115px;
}

.balanceText {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--main-white);
  opacity: 0.4;
}

.balanceValue {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-white);
}

@media (min-width: 768px) {
  .balanceWrapper {
    padding: 16px;
    min-width: 338px;
    height: 143px;
  }
}
