.header {
  display: none;
}

.list {
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.placeholder {
  text-align: center;
  color: #ccc;
  padding: 20px;
  max-width: 288px;
  min-height: 293px;
  background: var(--hover-color);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .section {
    background: transparent;
    background: var(--hover-color);
    border-radius: 16px;
    overflow: hidden;
    padding: 32px 0 0 16px;
    justify-content: center;
    min-height: 538px;
    width: fit-content;
  }

  .placeholder {
    max-width: 704px;
    min-height: 538px;
    border-radius: 16px;
  }

  .header {
    display: grid;
    grid-template-columns: 104px 76px 117px 141px 1fr;
    color: var(--hover-text-color);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 16px;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .list {
    background: var(--hover-color);
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    overflow-y: auto;
    max-height: 538px;
    padding-right: 10px;
    scroll-behavior: smooth;
  }

  .date {
    padding-left: 4px;
  }

  .list::-webkit-scrollbar {
    width: 4px;
  }

  .list::-webkit-scrollbar-track {
    background: var(--main-background-color);
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 64px;
  }

  .list::-webkit-scrollbar-thumb {
    background: #508f8c;
    border-radius: 64px;
  }
}

@media (min-width: 1280px) {
  .header {
    grid-template-columns: 121px 95px 125px 142px 1fr;
  }

  .section {
    height: 585px;
    padding-right: 10px;
    padding-left: 27px;
  }
  .list {
    padding-right: 18px;
  }

  .placeholder {
    min-width: 757px;
    /* background: var(--hover-color); */
    min-height: 585px;
    /* border-radius: 16px; */
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
