.list {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: none;
}

.list {
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.placeholder {
  text-align: center;
  color: #ccc;
  padding: 20px;
}

@media (min-width: 768px) {
  .div {
    background: transparent;
    background: var(--hover-color);
    border-radius: 16px;
    max-height: 538px;
    overflow: hidden;
  }

  .header {
    display: grid;
    grid-template-columns: 104px 76px 117px 141px 1fr;
    color: var(--hover-text-color);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .ul {
    margin: 0;
    padding: 0;
    /* padding: 32px 16px 0 16px; */
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .list {
    background: var(--hover-color);
    padding: 0 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: 538px;
  }

  .list > li {
    z-index: 1;
    position: relative;
  }

  .date {
    padding-left: 4px;
  }

  .list::-webkit-scrollbar {
    width: 4px;
  }

  .list::-webkit-scrollbar-track {
    background: var(--main-background-color);
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 64px;
  }

  .list::-webkit-scrollbar-thumb {
    background: #508f8c;
    border-radius: 64px;
  }
}

@media (min-width: 1280px) {
  .header {
    grid-template-columns: 121px 95px 125px 142px 1fr;
  }

  .div {
    max-height: 585px;
    width: 757px;
    /* padding: 32px 32px 0 32px; */
  }
  .list {
    padding: 0 32px;
  }

  .ul {
    padding: 32px 32px 0 32px;
  }

  .placeholder {
    width: 757px;
  }
}
