.container {
    padding: 16px 12px;
    max-width: 288px;
    background-image: linear-gradient(#355359, #3B5D63);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
}
.dropdown {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
 @media only screen and (min-width: 768px) {
    .container {
        max-width: 660px;
        max-height: 680px;
        justify-content: space-between;
        padding: 16px 16px 160px 16px;
        flex-direction: row;
        align-items: flex-start;
    } }

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 757px;
        max-height: 670px;
        padding: 16px 26px 202px 32px;
        flex-direction: row;
    }
}