.form {
  max-width: 533px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background-color: #508f8c;
}

.labelWraper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  padding: 11px 14px 11px 50px;
  border-radius: 8px;
  border: 1px solid #081222;
  outline: none;
  background-color: inherit;
}

.input::placeholder {
  font-size: 18px;
  color: inherit;
}

.span {
  color: red;
  font-size: 10px;
}

.button {
  text-align: center;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  margin: 0 auto;
  margin-top: 10px;
  width: 248px;
  padding: 11px 79px;
  border-radius: 8px;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover,
  &:focus {
    background-color: lightcyan;
  }
}

.linkName {
  height: 44px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  padding: 11px 79px;
  width: 248px;
  text-align: center;
}

.logo {
  width: 182px;
  height: 94px;
  margin: 0 auto;
}

/* .barWrap {
  color: wheat;
} */

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 14px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Styles for Tablet  and Desktop devices */
@media only screen and (min-width: 768px) {
  .form {
    padding: 62px;
  }
  .button {
    width: 409px;
  }
  .linkName {
    width: 409px;
  }
}
