.form {
  max-width: 533px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--modal-background);
}

.labelWraper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  padding: 11px 14px 11px 50px;
  border-radius: 8px;
  border: 1px solid var(--main-black);
  color: var(--main-black);
  outline: none;
  background-color: inherit;
}

.input {
  border-color: #3b5d63;
}

.input::placeholder {
  font-size: 18px;
  color: inherit;
}

.input:focus::placeholder {
  color: #3b5d63;
}

.inputError {
  border: 1px solid var(--error-red);
}
.inputSuccess {
  border: 1px solid var(--succes-green);
}

.icon {
  position: absolute;
  left: 14px;
  width: 24px;
  height: 24px;
}

.iconError {
  fill: var(--error-red);
}

.iconSuccess {
  fill: var(--succes-green);
}

.span {
  color: var(--error-red);
  font-size: 10px;
}

.button {
  text-align: center;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  margin: 0 auto;
  margin-top: 10px;
  width: 248px;
  padding: 11px 79px;
  border-radius: 8px;
  color: var(--main-white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover,
.button:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.linkName {
  height: 44px;
  margin: 0 auto;
  border: 1px solid var(--main-black);
  border-radius: 8px;
  padding: 11px 79px;
  width: 248px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.linkName:hover,
.linkName:focus {
  border-color: var(--hover-text-color);
  color: var(--hover-text-color);
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 54px;
  height: 54px;
}

.logoText {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-black);
}

/* .barWrap {
  color: wheat;
} */

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper:focus-within .icon {
  fill: #3b5d63;
}

/* Styles for Tablet  and Desktop devices */
@media only screen and (min-width: 768px) {
  .form {
    padding: 62px;
    padding-top: 53px;
    padding-bottom: 82px;
  }
  .button {
    width: 409px;
  }
  .linkName {
    width: 409px;
  }
}
